body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu',sans-serif;
    
}
#maindiv{
    height: 100%;
    width: 100%;
    
}
#hdiv  img{
    height: 60px;
    width: 60px;
    margin-top: 1px;
    
}
#hdiv{
    width: 100%;
    background-color: rosybrown;
    position: fixed;
    top: 0;
}
#cdiv img{
    height: 150px;
    width: 150px;
    
}
#cdiv{
    height: 110%;
    width: 100%;
    position:static;
    overflow: auto;
    margin: 0 auto;

}
#search{
    height: 380px;
    background: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#card {
    margin-left: 15%;
    margin-right: 15%;
    
}
#card img{
    padding: 4%;
    border-radius: 25%;
}
#fdiv img{
    height: 20px;
    width: 22px;
}
#fdiv{
    background-color: rosybrown;
   width: 100%;
   position: fixed;
   bottom: 0;
 
}
#hdiv a{
    
   float: right;
   margin-top: 20px;
   margin-right: 20px;
  
   
}
#contact{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
   
}
#text{
    margin-left: 40%;
    bottom: 0;
}
#social{
    float: right;
   margin-right: 20px;
}
a:link{
    text-decoration: none;
    color: black;
}
#view{
    margin-left: 45%;
    text-decoration-color: none black;
 
}
input{
    position:relative;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    width: 30%;
    margin-top: 170px;
    margin-left: 500px;
}
 