body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
}
#maindiv{
    height: 100%;
    width: 100%;
}
#hdiv  img{
    height: 60px;
    width: 60px;
    
}
#list-view img{
    height: 200px;
    width: 250px;
    
}
#fdiv img{
    height: 20px;
    width: 22px;
}
#hdiv{
    background-color: rosybrown;
}
#fdiv{
    background-color: rosybrown;
}
.city{
    background-color: rgb(132,136,139);
    margin: 2%;
    width: 40%;
}