body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu',sans-serif;
}
#maindiv{
    height: 100%;
    width: 100%;
}

#list-view img{
    height: 200px;
    width: 250px;
    
}

#header{
    width: 100%;
    height: 10%;
    background-color: rosybrown;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
  
    align-items: center;
}
#header  img{
    height: 60px;
    width: 60px;
    margin-left: 2%;
}
#but1{
    margin: 2%;
    
}
#footer{
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 7%;
    align-items: center;
    
}
#footer img{
    height: 20px;
    width: 22px;
}
#contact{
    margin: 2%;
}

#social{
    margin: 2%;
}

.city{
    background-color: lightgrey;
    margin: 2%;
    width: 40%;
    margin-bottom: 2%;

    
}

 a:link{
    text-decoration: none;
    color: black;
}

#cdiv{
    height: 180%;
    width: 100%;
    margin-top: 100px;
  
}
#view{
  margin-left:40%;
  font-weight: bold;
  text-decoration-color: black;
  
}
.view{
    padding: 20px;
   
}
#city1{
    float:left;
    display: flex;
    justify-content: flex-start;
}
#city2{
    float:left;
    display: flex;
    justify-content: flex-start;
}
#city3{
    float:left;
    display: flex;
    justify-content: flex-start;
    
}

.info{
    margin-left: 15px;
}
.rows{
    width: 100%;
    display: block;
}
.cols{
    width: 100%;
    display: inline-block;
}
.label{
    width: 30%;
    float: left;
    margin-left: 40px;
    
}
.input{
    width: 50%;
    float: right;
    margin-right: 40px;
}
#log1{
    margin: 0 auto;
}
#city3:hover{
    background-color: rosybrown;
}
#city2:hover{
    background-color: rosybrown;
}
#city1:hover{
    background-color: rosybrown;
}
