body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
}
#maindiv{
    height: 100%;
    width: 100%;
}
#hdiv  img{
    height: 60px;
    width: 60px;
}
#cdiv img{
    height: 500px;
    width: 500px;
}
#fdiv img{
    height: 20px;
    width: 22px;
}
#hdiv{
    background-color: rosybrown;
}
#fdiv{
    background-color: rosybrown;
}

#hotel{
  width: 50%;
    background-color: rgb(132,136,139);
    margin: 2% auto ;
}
#details{
    margin: 4%;

}
#bill{
     margin: 2%;
     border: 1px solid black;
     border-radius: 5px;
     padding: 1% 2%;;
}